<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>


<body>
    <div class="main-content">
    {{>header}}
    <p>Ova stranica koristi podatke sa mapbox.com i darksky.net!</p>
    <img class = "portrait" src = "/img/danijela.PNG">
    </div>
    
    {{>footer}}
</body>

</html>